<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_barisnow"
        android:label="BariSnow"
        android:roundIcon="@drawable/ic_barisnow"
        android:supportsRtl="true"
        android:theme="@style/Theme.BariSnow"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetSettingsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <receiver
            android:name=".BariSnowCompactWidgetProvider"
            android:exported="false"
            android:label="@string/widget_hours_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.barisnow.app.ACTION_WIDGET_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/barisnow_widget_compact_info" />
        </receiver>

        <receiver
            android:name=".BariSnowWidgetProvider"
            android:exported="false"
            android:label="@string/widget_complete_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.barisnow.app.ACTION_WIDGET_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/barisnow_widget_info" />
        </receiver>

        <receiver
            android:name=".BariSnowDailyWidgetProvider"
            android:exported="false"
            android:label="@string/widget_daily_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.barisnow.app.ACTION_WIDGET_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/barisnow_widget_daily_info" />
        </receiver>
    </application>
</manifest>
